.my_projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;

    font-family: 'Sora', sans-serif;
}

.title_my_projects{
    font-size: 2rem;
    margin: 1rem 0;
    margin-top: 3rem;
}

.container_project{
    margin: 1rem;
}

.container_img_project{
    height: 25rem;

    border: 1px solid gray;
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:darken;
    overflow: hidden;
    filter: grayscale(100%);
    
}

.info_project{
    padding: 1rem 0;
}

.title_project{
    padding: .5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.description_project{
    color: gray;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#project1{
    background-image: url('../images/detona_ralph.jpeg');

}

#project2{
    background-image: url('../images/jogo_da_velha.png');
}

#project3{
    background-image: url('../images/jogo_da_memoria_com_textura_educacao_inclusiva_837_1_de1ec854d6c9385fa4c7bd17d2267bf8.webp');
}

#project4{
    background-image: url('../images/listas-de-tarefas-significado-1024x576.jpeg');
}
#project5{
    background-image: url('../images/pokedex.webp');
}
#project6{
    background-image: url('../images/formula-IMC.png');
}
#project7{
    background-image: url('../images/analise_de_ecommere.jpg');
}
#project8{
    background-image: url('../images/analise_do_banco.webp');
}
#project9{
    background-image: url('../images/analise_de_dicurso.jpg');
}